<%- include('header') -%>

<h1>Title dene mai chutiya hai apun toh ap hi do...</h1>
<form action="/" method="post">
    <label for="titleInput">Title</label>
<input type="text" name="title" id="titleInput">
<input type="password" name="pass"  placeholder="Password" >
<button class="btn btn-primary" type="submit">Submit</button>
</form>

<%- include('footer') -%>