<%- include("header") -%> 
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Htt Wapas Jaao</h1>
      <p class="lead">Galat Galat ke bam-bole... Dobara try kro</p>
      <form action="/tryagain" method="post">
      <button class="btn btn-outline-warning btn-lg" type="submit">Try Again</button>
    </form>
    </div>
  </div>
<%- include("footer") -%>